footer {
    h4 {
        padding-bottom: 10px;
    }
    ul li {
        padding-bottom: 10px;
        font-size: .9rem;
    }

}

.social-media-icons {
    a {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        background-color:red;
    }
}