@use 'global' as g;
@use 'veriables' as v;

.news-item {
  padding: 25px 0;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  max-width: 400px;
  margin: 15px 0;
  .news-top {
    img {
      height: 400px;
      width: 100%;
      max-width: 100%;
      object-fit: cover;
    }
  }
  .news-tag {
    display: flex;
    align-items: center;
    a {
      padding: 5px;
      text-decoration: underline;
    }
  }

}