@use 'global' as g;
@use 'variables' as v;

main.global-sub-page {
    padding-top: 80px;
    .nav {
        display: flex;
        justify-content: center;
    }
    .sub-tab {
        .nav-item {
            .nav-link {
                color: v.$black;
                font-weight: 600;
                cursor: pointer;
                &.active {
                    color: v.$orange;
                    background-color: transparent;
                }
            }
        }
    }
    .about-us-table {

        td {
            padding: 25px 0px;
            font-weight: bold;
            &:nth-child(odd) {
                color: #3f5497;
                font-size: 1.1rem;
            }
        }
    }
}

.number-wrap {
 display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
height: 150px;
background-color: #f3f3f3;
    padding: 20px 30px;
    transform: rotate(-1deg);
}

.number-item {
    min-height: 85px;
    width: 200px;
    text-align: center;
    h3 {
        font-size: 2.5rem;

    }
}


.services-banner {
    height: 450px;
    position: relative;
    z-index: 1;
    img {
        height: 450px;
        width: 100%;
        object-fit: cover;
        position: relative;
        filter: brightness(60%);
    }
    &-content {
        position: absolute;
        z-index: 33;
        bottom: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        h1 {
            line-height: 1;
        }
        span {
        color: #FAFFC0;
        text-transform: uppercase!important;
        font-weight: bold;
        }
    }


}


.ik-banner {
    @extend .services-banner;
}