$black : #202020;
$darkPurple : #3d415d;
$green : #67c176;
$white : #fff;
$orange : #ffa10e;
$purple : #7a81b9;
$gray : #ededed;
$blue : #1d5699;
$darkOrange : #ba7d1e;


$minWidth576 : "min-width:576px";
$maxWidt992  : "max-width:992px" ;
$minWidt768  : "min-width:768px" ;
$minWidt992  : "min-width:992px" ;
$minWidt1200 : "min-width:1200px" ;
$minWidt1366 : "min-width:1366px" ;
$minWidt1500 : "min-width:1500px" ;
$minWidt1600 : "min-width:1600px" ;
$minWidt1900 : "min-width:1900px" ;


